<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="custom_product_limit" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Handle Product Limit</label>
            <tab>general</tab>
            <resource>Magento_Config::config</resource>
            <group id="limit_settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Limit Settings</label>
                <field id="product_limit" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Products Limit</label>
                    <comment>Set the maximum number of products to display on the customer page.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
